{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier",
        "plugin:react-hooks/recommended"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "overrides": [
    ],
    "plugins": [
        "@typescript-eslint", "simple-import-sort"
    ],
    "rules":{
        "semi":"off",
        "@typescript-eslint/no-empty-interface": [
            "error",
            {
              "allowSingleExtends": true
            }
        ],
        "@typescript-eslint/no-require-imports": "error",
        "simple-import-sort/imports": "error",
        "simple-import-sort/exports": "error"
    }
}